.App {
  text-align: center;
}

.jumbotron.jumbotron-fluid {
  height: 40vh;
  background-color: #DABBAB;
  color: white;
}

.navbar-expand-md {
  height: 10vh;
  color: azure;
}

.navbar-nav {
  background-color: #8FAC7B;
}

.style {
  color: whitesmoke;
  text-decoration: none;
}

.style:hover {
  color: whitesmoke;
  text-decoration: none;
}
