.App {
  text-align: center;
}

.navbar-expand-md {
  height: 10vh;
  color: azure;
}

.navbar-nav {
  background-color: steelblue;
}

.style {
  color: whitesmoke;
  text-decoration: none;
}

.style:hover {
  color: whitesmoke;
  text-decoration: none;
}
